[submodule "submodules/compute-image-packages"]
	path = submodules/compute-image-packages
	url = https://github.com/feoff3/compute-image-packages
[submodule "submodules/azure-sdk-for-python"]
	path = submodules/azure-sdk-for-python
	url = https://github.com/feoff3/azure-sdk-for-python
